<!DOCTYPE html>
<html>
<head>
  
  <link rel="stylesheet" type="text/css" href="logado.css">
  <title>StockGestor</title>

</head>
<body>
  <header>

    <div id="overbox">
    <div id="overbox">
    <a href="url"><img href="imagem_da_logo" alt="Logo do StockGestor"></a>
    </div>
    
    <div id="overbox">
    <h4>Produtos</h4>
    </div>

    <div id="overbox">
    <h4>Fornecedores</h4>
    </div>

    <div id="overbox">
    <a href="url"><img href="imagem_do_perfil" alt="Imagem do perfil"></a>
    </div>
    </div>

    <div id="box">
        <h2>StockGestor</h2>
        <h3>Fornecedores</h3>
        <a href="url"><h3>Cadastro</h3></a>
    </div>

    <form action="{% url webpages-logado %}" method="POST">
        <label for="inome_empresa">Nome da Empresa</label>        
        <input type="text" name="nome_empresa" id="inome_empresa" maxlength="40" required>

        <label for="icnpj">CNPJ</label>
        <input type="text" name="cnpj" id="icnpj" required>

        <label for="iie">IE</label>
        <input type="text" name="ie" id="iie" required>

        <label for="iim">IM</label>
        <input type="text" name="im" id="iim" required>

        <label for="iendereco">Endereço</label>
        <input type="text" name="endereco" id="iendereco" required>

        <label for="iuf">UF</label>
        <input type="text" name="uf" id="iuf" maxlength="2" required>

        <label for="iuf">Email</label>
        <input type="email" name="email" id="iemail" required>

        <label for="itelefone">Telefone</label>
        <input type="tel" name="telefone" id="itelefone" required>

        <button type="submit" value="salvar">Salvar</button>

    </form>

    <div id="underbox">

        <p>© 2024 - StockGestor. All rights reserved</p>

    </div>

  </header>
  
</body>

</html>