<!DOCTYPE html>
<html>
<head>
  
  <link rel="stylesheet" type="text/css" href="logado.css">
  <title>StockGestor</title>

</head>
<body>
  <header>

    <div id="header">
      <nav>
        <div class="logo"><img href="" alt="Logo do produto"></div>
        <ul>
          <li id="nao_escolhido"><a href="url">Produtos</a></li>
          <li id="escolhido"><a href="base_logada.html">Fornecedores</a></li>
          <li><a href="url"><img href="imagem_do_perfil" alt="Imagem do perfil"></a></li>
        </ul>
      </nav>
    </div>

    <div id="box">
        <h2>StockGestor</h2>
        <h3>Fornecedores</h3>
        <a href="url"><h3>Cadastro</h3></a>
    </div>

    <form action="/url" method="GET">
        <label>
        Nome da empresa        
        <input type="text" name="nome" required>

        CNPJ
        <input type="text" name="cnpj" required>

        IE
        <input type="text" name="ie" required>

        IM
        <input type="text" name="im" required>

        Endereço
        <input type="text" name="endereco" required>

        UF
        <input type="text" name="uf" required>

        Email
        <input type="email" name="email" required>

        Telefone
        <input type="tel" name="telefone" required>
        
        </label>

        <button type="submit">Salvar</button>

    </form>

    <div id="underbox">

        <p>© 2024 - StockGestor. All rights reserved</p>

    </div>

  </header>
  
</body>

</html>
