#overbox {

    background-color: grey;
    display: inline-flex;
    width: 100px;
    height: auto;
    position: top;
    top: 0px;

}

#grey_overbox {

    background-color: grey;
    display: inline

}

